*{

    font-family: 'Roboto', sans-serif;
}



.menu {
    display: block;
    background: black;
  
    font-size: 250%;
    text-align: center;
}

.menu a{
    padding-right: 90px; 
    color: rgb(172, 155, 123);
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

#image {
    text-align: center;
    width: 100%;
    height: 1000px;
    background-image: url("image/IMG_0437.JPG");
    background-size: cover;
    background-attachment: fixed;
}
#title_name{
    color: 000;
    font-size: 500%;
   
}
