*{

    font-family: 'Pacifico', cursive;
}
#title_name{
    background-color: #ffffff;
    color: blue;
    font-size: 500%;
    text-align: center;
}
.menu {
    display: block;
    background: black;
    padding: 20px;
    font-size: 250%;
    text-align: center;
}

.menu a{
    color: rgb(172, 155, 123);
    padding: 20px;
    padding-right: 5%;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;

  }

.image img{
    width: 100%;
    align-items: center; 
}
